body {
  font-family: 'Open Sans', sans-serif;
}

#topLinks {
  margin-top: 20px;
  margin-bottom: 20px;
}

.top-link a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 125%;
  color: #005274;
}

.bg-light {
  background-color: #189CA8 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 14px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:visited {
  color: #ffffff;
  text-decoration: underline;
}

ul.navbar-nav .ml-auto a {
  font-size: 13px;
}

h1.page-title {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
}

p {
  font-size: 14px;
}

p.page-details {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.card {
  border-width: 2px;
  padding: 2em;
  border-radius: 0;
  border: 1px solid #000000;
  margin-bottom: 2rem;
}

.card .card-header {
  background-color: #ffffff;
  padding: 0;
  border-width: 2px;
}

.card .card-body {
  padding: 0;
}

.form-check-input {
  position: absolute;
  margin-top: 9px;
  margin-left: -1.25rem;
}

.modal-dialog {
  width: 1200px;
  max-width: 100%;
}

.jumbotron {
  border-radius: 0;
  background-color: #005274;
  color: #ffffff;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 0;
}

.vertical {
  border-left: 2px solid black;
  height: 20px;
  margin-right: 15px;
}
.vertical2 {
  border-left: 2px solid black;
  height: 55px;
  margin-left: 20px;
  margin-right: 20px;
}
.vertical3 {
  border-left: 2px solid black;
  height: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

.form-check-input {
  position: absolute;
  margin-top: 7px;
  margin-left: -1.25rem;
}

.form-control {
  border: 1px solid #000000;
  border-radius: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.input-group-append {
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: none;
}

#form-group-search {
  border-right: none;
}

.btn.btn-primary{
  border-radius: 0;
  border: none;
  background-color: #005274;
  color: #ffffff;
}

#assignRolesBtn {
  background-color: #ffffff;
  border-radius: 0;
  border: 1px solid #004466;
  color: #004466;
  font-size: 14px;
}

#editRolesBtn {
  background-color: #ffffff;
  border-radius: 0;
  border: 1px solid #004466;
  color: #004466;
  font-size: 14px;
  margin-bottom: 10px;
}

#editRolesBtn:hover {
  background-color: #004466;
  color: #ffffff;
}

#assignRolesBtn:hover {
  background-color: #004466;
  color: #ffffff;
}

#assign-role-warning-tag {
  color: red;
  margin-top: 15px;
  margin-left: 15px;
}

/* custom css for functionality */
.total-role-lable:disabled,
.total-role-lable[disabled] {
  color: #878d93;
}

.tableUserListTd {
  margin-right: 0px !important;
  margin-left: 0px !important;
  text-align: center;
}


.progress {
  margin-top: 4px;
}

.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #005274;
  transition: width .6s ease;
}

footer {
  margin-top: 10rem;
  text-align: center;
}

footer .help-links {
  margin-bottom: 35px;
  color: #005274;
}

#formSubmitBtn {
  border-radius: 0;
  border: none;
  background-color: #005274;
  color: #ffffff;
  margin: 20px 0 0 0;
}

#formSubmitBtn .span {
  margin-right: 5px;
}

.pipe {
  margin-left: 10px;
  margin-right: 10px;
}

.modal-header .modal-title {
  font-size: 16px;
  font-weight: bold;
}

table thead th {
  text-align: center;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: middle;
  text-align: center;
}

#assignedUserWarningTag {
  color: red;
}

a u {
  color: #0059b3;
}

.mr-auto li a {
  text-transform: uppercase;
}

#backtoProgressBoard {
  margin-top: 10px;
  margin-bottom: 350px;
  color: #005274;
}

#backtoProgressBoard span {
  color:#005274;
}

label.form-check-label:hover {
  color: #005274;
  cursor: pointer;
}

.warninngRed {
  border: 1px solid red !important
}

#authorListTable {
  display:block;
  overflow-y:auto;
  max-height:305px;
  min-height: 10px;
}

#scroll-table {
  width: 100%;

}


#scroll-table thead {
  /*display: table;*/ /* to take the same width as tr */
  width: calc(100% - 17px);
}



#scroll-table tr {
  display: table; /* display purpose; th's border */
  width: 100%;
  box-sizing: border-box; /* because of the border (Chrome needs this line, but not FF) */
}

#scroll-table td {
  text-align: left;
}

.dropdown span {
  color: #004466;
}

.form-check-inline{
  vertical-align:top;
  display:block;
  padding-bottom:5px;
  line-height:1.25em;

}
.form-check-inline span{
 display:inline-block;
 width:190px;
 vertical-align:top;
}


.table-striped tbody tr.rowSelected{
  background-color:#f0faff;
}
.table-striped tbody tr.rowSelected:nth-of-type(odd){
  background-color:#d5f2ff;

}

.total-role-lable{
  margin-bottom:0;
}
.rolesList-total .form-check-inline{
  line-height:1em;
  padding-bottom:2px;
}

.table-striped tbody tr.rowSelected td, .table-striped tbody tr.rowSelected th{
  border-color: #cceeff;
}
.table-striped tbody tr.rowSelected:nth-of-type(odd) td, .table-striped tbody tr.rowSelected:nth-of-type(odd) th{
  border-color: #bfeaff;
}

#authorListTableFooter{
  border-top: 2px solid #999;
}
#authorListTableFooter td, #authorListTableFooter th{
  border-top: none;
}
#scroll-table thead{
  border-bottom: 1px solid #999;
}
#scroll-table thead th{
  border-bottom:none;
}
.assignedCountP{
  text-align:center;
  font-size:13px;
  padding-top:1px;
}
#scroll-table{
  margin-bottom:0;
}